---
import type { ImageMetadata } from "astro";

interface Props {
  title?: string;
  description?: string;
  image?: string;
}

const { title, description, image } = Astro.props;

// const images = import.meta.glob<{ default: ImageMetadata }>(
//   `../../assets/og/*.png`
// );
const images = import.meta.glob<{ default: ImageMetadata }>(
  "../../assets/og/**"
);

let imageUrl = images[`../../assets/og/${image}.png`];
imageUrl = imageUrl.toString();

const imageType = "image/png";
---

<title>{title}</title>
<meta name="description" content={description} />

<meta property="og:title" content={title} />
<meta property="og:description" content={description} />
<meta property="og:image:type" content={imageType} />
<meta property="og:image" content={imageUrl} />

<meta name="twitter:card" content="summary_large_image" />
<meta name="twitter:title" content={title} />
<meta property="twitter:description" content={description} />
<meta property="twitter:image:type" content={imageType} />
<meta name="twitter:image" content={image} />
