---
import { Image } from "astro:assets";
import BackgroundImage from "../components/BackgroundImage.astro";
import Background from "@assets/backgrounds/characters.webp";
import CharactersData from "../data/characters.json";
import CharacterCard from "./CharacterCard";
import CharacterName from "./CharacterName.astro";

const images = import.meta.glob<{ default: ImageMetadata }>(
  "../assets/characters/**"
);

type Character = {
  id: string;
  name: string;
};

const characters: Character[] = CharactersData;
---

<section id="characters">
  <BackgroundImage src={Background} alt="Background" width={1920} height={528}>
    <h2 class="text-4xl text-center mb-4">Characters</h2>
    <div class="grid templateColumns-[300px] gap-8">
      {
        characters.map((character) => (
          <a href={`/characters/${character.id}`}>
            <CharacterCard client:visible id={character.id}>
              <div class="size-full p-6 z-10 flex flex-col justify-between">
                <div>
                  <div class="w-full aspect-square flex justify-center">
                    <Image
                      src={images[
                        `../assets/characters/${character.id}/profile.webp`
                      ]()}
                      alt={character.name}
                      class="h-full w-auto object-cover"
                      transition:name={character.id}
                    />
                  </div>
                </div>
                <CharacterName name={character.name} />
              </div>
            </CharacterCard>
          </a>
        ))
      }
    </div>
  </BackgroundImage>
</section>
