---
import { Image } from "astro:assets";
import BackgroundImage from "./BackgroundImage.astro";
import Background from "../assets/backgrounds/banner.webp";
import Button from "./Button.astro";
import ImgNome from "../assets/main/nome.webp";

import SponsorData from "../data/sponsor.json";

type Sponsor = {
  title: string;
  description: string;
  url: string;
};

const sponsor: Sponsor = SponsorData;
---

<section>
  <BackgroundImage src={Background} alt="Banner" width={1920} height={389}>
    <div class="flex gap-4 justify-between px-4 w-full items-center">
      <div class="flex flex-col gap-y-4 items-end">
        <div class="space-y-4">
          <h1 class="text-4xl font-bold">{sponsor.title}</h1>
          <p class="max-w-[85ch]">
            {sponsor.description}
          </p>
        </div>
        <Button link={sponsor.url} title="Discover" />
      </div>
      <Image src={ImgNome} alt="Nome" class="hidden sm:block" />
    </div>
  </BackgroundImage>
</section>
